@import "tailwindcss";

.messages::-webkit-scrollbar {
    display: none;
}
@layer base {
  body {
    @apply bg-white text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-[#020617] text-slate-100;
  }
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.gutter {
  background: #1e293b;
  cursor: col-resize;
  transition: 0.2s ease;
  position: relative;
}

.gutter:hover {
  background: #7c3aed;
}

.gutter::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 36px;
  border-radius: 999px;
  background: rgba(255,255,255,0.15);
  transform: translate(-50%, -50%);
}