@import "tailwindcss";

.messages::-webkit-scrollbar {
    display: none;
}
@layer base {
  body {
    @apply bg-white text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-[#020617] text-slate-100;
  }
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}